[submodule "bootstrap"]
	path = AssetStorage
	url = https://github.com/JohnnyBoss1206/gitlogtest.git
[submodule "test"]
	path = test
url=https://Johnny_Sanchu@bitbucket.org/Johnny_Sanchu/testsubmodule.git
